<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/style.css">
  <title>Almanax Now</title>
</head>
<body>
  <header>
    <div class="logo_div">
      <img class="logo" src="img/logo.jpg" alt="logo">
      <h3 class="logo_tittle">AlmAPI</h3>
    </div>
    <nav>
      <ul class="nav_links">
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Quick Start</a></li>
        
      </ul>
    </nav>

    <a class="cta" href="#"><button>Discord</button></a>
  </header>

  <div class="main_container">
    <div class="text_container">
      <h2 id="_tittle">Almanax Now.</h2>
      <h1 id="_desc">Almanax Now vous permets de récupérer l'intégralité </h2>
    </div>
    <div class="exemple_text">
      <p>LogoImg</p>
    </div>

  </div>
  
</body>
</html>